In [4]:
import pandas as pd
import numpy as np

In [27]:
df = pd.DataFrame({
    "Account_num": [1, 2, 1, 2],
    "Date": ["2023-01-01", "2023-01-01", "2022-12-01", "2022-12-01"],
    "Data": [1, 2, 3, 4]
})
df["Date"] = df["Date"].astype("datetime64[ns]")
df

   Account_num       Date  Data
0            1 2023-01-01     1
1            2 2023-01-01     2
2            1 2022-12-01     3
3            2 2022-12-01     4

In [28]:
df["Prior_date"] = df["Date"] - pd.DateOffset(months = 1)
df["Current_key"] = df["Account_num"].astype(str) + "_" + df["Date"].astype(str)
df["Prior_key"] = df["Account_num"].astype(str) + "_" + df["Prior_date"].astype(str)
df

   Account_num       Date  Data Prior_date   Current_key     Prior_key
0            1 2023-01-01     1 2022-12-01  1_2023-01-01  1_2022-12-01
1            2 2023-01-01     2 2022-12-01  2_2023-01-01  2_2022-12-01
2            1 2022-12-01     3 2022-11-01  1_2022-12-01  1_2022-11-01
3            2 2022-12-01     4 2022-11-01  2_2022-12-01  2_2022-11-01

In [32]:
df = pd.merge(
    df[["Prior_key", "Account_num", "Date", "Data"]],
    df[["Current_key", "Data"]],
    left_on = "Prior_key",
    right_on = "Current_key",
    suffixes = ("_CURRENT", "_PRIOR")
)

In [33]:
df[["Account_num", "Date", "Data_CURRENT", "Data_PRIOR"]]

   Account_num       Date  Data_CURRENT  Data_PRIOR
0            1 2023-01-01             1           3
1            2 2023-01-01             2           4